@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:#000;
}

button {
    border: 0;
    outline: 0;
}

ul li {
    list-style: none;
}

table {
    border-collapse: collapse;
    width:100%;
}

select, input, textarea, button {
    border:0;
    outline:0;
    vertical-align: top;
}

input[type="checkbox"] {
    width:18px;
    height:18px;
}

.clearfix {
    clear: both;
}