<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>survey_form_write</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/fixed_menu.css">

    <script src="https://kit.fontawesome.com/5ae11af4f3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
    main {
        width: calc(100% - 200px);
        min-height: calc(100vh - 65px);
        margin-top: 65px;
        margin-left: 200px;
        padding: 20px 30px;

        background-color: #eef0f8;
    }

    main section {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px 30px;
    }

    /* table css */
    tr {
        height: 50px;
    }

    /* table 선색 */
    td {
        border: none;
        border-left: none;
        border-right: none;
    }

    .mail-title:hover {
        font-weight: 700;
    }

    .input-form {
        width: 100%;
    }
</style>

<body class="noto">
    <div class="alert-box">
        <div class="alert-box-title">
            알림
        </div>
        <div class="alert-box-list">
            <div class="alert-box-section pointer">
                <div class="alert-box-icon">
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <div class="alert-box-contents">
                    <p>전자결재 서류입니다.</p>
                    <p>n시간 전 - 홍길동 사원</p>
                </div>
            </div>
            <div class="alert-box-section pointer">
                <div class="alert-box-icon">
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <div class="alert-box-contents">
                    <p>전자결재 서류입니다.</p>
                    <p>n시간 전 - 홍길동 사원</p>
                </div>
            </div>
            <div class="alert-box-section pointer">
                <div class="alert-box-icon">
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <div class="alert-box-contents">
                    <p>전자결재 서류입니다.</p>
                    <p>n시간 전 - 홍길동 사원</p>
                </div>
            </div>
        </div>
    </div>
    <div class="config-box">
        <div class="config-box-list">
            <ul>
                <li><a href="#">다크모드</a></li>
                <li><a href="#">알림설정</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="header-logo roboto">
            <span><a href="#">Portfolio</a></span>
        </div>
        <div class="header-bar">
            <div class="header-alert">
                <div class="header-alert-icon bell-gray">
                    <span class="bell-icon pointer"><i class="fas fa-bell"></i></span>
                </div>
                <div class="header-alert-badge pointer">
                    <span><b>6</b></span>
                </div>
                <div class="header-alert-text">
                    <!-- <span><b>아무개</b></span><span>님이 새로운 메세지를 보냈습니다.</span> -->
                    <!-- <button type="button" onclick="blinkBell();">test</button> -->
                </div>
            </div>
            <div class="header-menu" style="display: flex;justify-content: space-between;">
                <div class="header-part">
                    <span>홍길동</span>
                    <span>-</span>
                    <span>접속권한 </span>
                    <span>n등급</span>
                </div>
                <div class="header-division"></div>
                <div class="header-part-a" onclick="location.href = '#'">
                    내정보
                </div>
                <div class="header-part-a header-part-config" onclick="location.href = '#'">
                    환경설정
                </div>
                <!-- <div class="header-division"></div> -->
                <div class="header-part-a" onclick="location.href = '#'">
                    로그아웃
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="accordion" style="color:#999">
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-book"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>사내조직/연락처</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">사원 목록</a></li>
                        <li><a href="#">조직도</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-stamp"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>전자결재</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">전자결재홈</a></li>
                        <li><a href="#">새결재진행</a></li>
                        <li><a href="#">결재목록</a></li>
                        <li><a href="#">완료문서</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-envelope"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>메일</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">새메일작성</a></li>
                        <li><a href="#">받은메일함</a></li>
                        <li><a href="#">보낸메일함</a></li>
                        <li><a href="#">내게쓴메일함</a></li>
                        <li><a href="#">중요메일함</a></li>
                        <li><a href="#">예약메일함</a></li>
                        <li><a href="#">임시보관함</a></li>
                        <li><a href="#">삭제메일함</a></li>
                        <li><a href="#">차단메일함</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-table"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>게시판</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">공통</a></li>
                        <li><a href="#">개발</a></li>
                        <li><a href="#">인사</a></li>
                        <li><a href="#">회계</a></li>
                        <li><a href="#">영업</a></li>
                        <li><a href="#">자료실</a></li>
                        <li><a href="#">자유게시판</a></li>
                        <li><a href="#">익명게시판</a></li>
                        <li><a href="#">게시판관리</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-clock"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>예약</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">회의실예약</a></li>
                        <li><a href="#">차량예약</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-calendar-day"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>일정관리</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">일정목록</a></li>
                        <li><a href="#">일정추가</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-briefcase"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>근태관리</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">내 근태현황</a></li>
                        <li><a href="#">출퇴근현황</a></li>
                        <li><a href="#">내 인사정보</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-chart-pie"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>설문조사</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">진행중인 설문</a></li>
                        <li><a href="#">종료된 설문</a></li>
                        <li><a href="#">내가 만든 설문</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer" onclick="location.href='#'">
                    <div class="accordion-icon">
                        <span><i class="fas fa-check-square"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>ToDo+</span>
                    </div>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-asterisk"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>회사정보</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">회사기본정보</a></li>
                        <li><a href="#">DB</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <style>
        .survey-option-article {
            height: 40px;
            line-height: 40px;
        }

        .survey-option-contents {
            width: 100%;
            height: 40px;
            padding: 0px 10px;
        }

        .question-add:hover {
            background-color: #f2f2f2 !important;
        }

        .time-icon:hover {
            color: #000 !important;
        }

        .example-add:hover {
            color: #000 !important;
        }
    </style>
    <main>
        <section>
            <!-- TODO: jsp form post -->
            <form method="post" name="mailForm" id="mailForm" action="#">
                <div class="addr noto fs-18 m-b-20" style="border-bottom: 1px solid #ccc;">
                    <div>
                        <span class="icon m-r-2" style="color: #3699ff"><i class="fas fa-chart-pie"></i></span>
                        <span style="font-weight: 500;">설문조사</span><span> ⦁ 설문작성</span>
                    </div>
                </div>
                <div class="p-b-20" style="border-bottom:1px solid #ddd;">
                    <table>
                        <tr>
                            <td class="td-10">설문 제목</td>
                            <td>
                                <input type="text" class="input-100">
                            </td>
                        </tr>
                        <tr>
                            <td>설문 기간</td>
                            <td>
                                <input type="text" autocomplete="off" id="startDate" class="input-150">
                                <input type="text" autocomplete="off" id="endDate" class="input-150">
                            </td>
                        </tr>
                        <tr>
                            <td>설문 결과 공개</td>
                            <td>
                                <label for=""><input type="radio" name="radio-result" value="A"
                                        style="width:15px;height:15px;border:1px;vertical-align: -3px;" checked>
                                    공개</label>
                                <label for=""><input type="radio" name="radio-result" value="B"
                                        style="width:15px;height:15px;border:1px;vertical-align: -3px;"> 비공개</label>
                            </td>
                        </tr>
                        <tr>
                            <td>댓글 작성</td>
                            <td>
                                <label for=""><input type="radio" name="radio-comment" value="A"
                                        style="width:15px;height:15px;border:1px;vertical-align: -3px;" checked>
                                    허용</label>
                                <label for=""><input type="radio" name="radio-comment" value="B"
                                        style="width:15px;height:15px;border:1px;vertical-align: -3px;"> 허용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <td>참여 후 수정 허용</td>
                            <td>
                                <label for=""><input type="radio" name="radio-update" value="A"
                                        style="width:15px;height:15px;border:1px;vertical-align: -3px;" checked>
                                    허용</label>
                                <label for=""><input type="radio" name="radio-update" value="B"
                                        style="width:15px;height:15px;border:1px;vertical-align: -3px;"> 허용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <td>시작 안내 문구</td>
                            <td style="padding: 5px;">
                                <textarea name="" id="" class="noto fs-14"
                                    style="width:100%;border: 1px solid #ccc;resize: none;padding: 10px;" cols="30"
                                    rows="3"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="question-article" style="padding:20px 0;border-bottom:1px solid #ddd;">
                    <table>
                        <tr>
                            <td class="td-10">질문</td>
                            <td>
                                <input type="text" class="input-100">
                            </td>
                        </tr>
                        <tr>
                            <td>설문 문항 타입</td>
                            <td>
                                <div style="display: flex;">
                                    <div class="m-r-10">
                                        <select name="" id="" class="sel-135" onchange="changeSelect($(this).val());">
                                            <option value="choice">선택형</option>
                                            <option value="text">텍스트형</option>
                                            <option value="score">점수형</option>
                                        </select>
                                    </div>
                                    <div class="change-select m-r-20">
                                        <select name="" id="" class="sel-135" onchange="showMaxNum($(this).val());">
                                            <option value="one">단일 선택</option>
                                            <option value="many">복수 선택</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="checkbox" style="vertical-align: -7px;">
                                        <span style="vertical-align: -4px;">필수 답변</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>최대 선택 개수</td>
                            <td>
                                <select name="" id="" class="sel-135">
                                    <option value="0">제한없음</option>
                                </select>
                            </td>
                        </tr>
                        <div class="if-select-choice-wrap">
                            <div class="if-select-choice">
                                <tr>
                                    <td>보기</td>
                                    <td>
                                        <!-- TODO: 보기 추가 클릭 시 input창 늘어나게 하고 / x아이콘 클릭 시 input창 없애기 -->
                                        <div class="example-wrap">
                                            <div class="example-part m-b-10">
                                                <input type="text" class="input-500">
                                                <!-- <span class="time-icon fs-20 m-l-10 pointer" style="line-height: 32px;color:#888" onclick="deleteExample($(this).parent().index());"><i class="fas fa-times"></i></span> -->
                                            </div>
                                        </div>
                                        <div class="example-add pointer"
                                            style="line-height: 32px;color:#888;display: inline-block;" onclick="addExample();">
                                            <span class="fs-20"><i class="fas fa-plus"></i></span>
                                            <span>보기 추가</span>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </table>
                </div>
                <div class="question-add-wrap" style="display: flex;justify-content: center;padding:20px;">
                    <div class="question-add pointer"
                        style="width:200px;background-color: #eee;padding:10px;text-align: center;border: 1px solid #ccc;">
                        문항 추가
                    </div>
                </div>
                <div style="display: flex;justify-content: center;">
                    <div class="m-t-20">
                        <button type="submit" class="btn-tomato">다음</button>
                        <button type="button" class="btn-gray">취소</button>
                    </div>
                </div>
            </form>
            <!-- <button class="btn-off" onclick="testFn();">TEST</button>
            <button class="btn-off" onclick="testFn2();">TEST2</button> -->
        </section>
    </main>
    <footer>
        <span>&copy;Copyright 2022. All Rights Reserved.</span>
    </footer>
</body>
<script src="../../js/fixed_menu.js"></script>
<script src="../../js/chk-all.js"></script>
<script>
    $(function () {
        // $("#startDate, #endDate").datepicker({
        //     dateFormat: 'yy-mm-dd'
        // });
    })

    // 설문 문항 타입 첫번째 select에 따라 두번째 select가 바뀜
    function changeSelect(optionVal) {
        // alert(optionVal);
        if (optionVal === "choice") {
            // alert("choicevv");
            showExample();
            const changeSelectHtml = `
                <select name="" id="" class="sel-135" onchange="showMaxNum($(this).val());">
                    <option value="one">단일 선택</option>
                    <option value="many">복수 선택</option>
                </select>
            `;
            $('.change-select').html(changeSelectHtml);
        }
        if (optionVal === "text") {
            // alert("textvv");
            hideExample();
            const changeSelectHtml = `
                <select name="" id="" class="sel-135">
                    <option value="short">단문 입력</option>
                    <option value="long">장문 입력</option>
                </select>
            `;
            $('.change-select').html(changeSelectHtml);
        }
        if (optionVal === "score") {
            // alert("scorevv");
            hideExample();
            const changeSelectHtml = `
                <select name="" id="" class="sel-135">
                    <option value="3">3점</option>
                    <option value="5">5점</option>
                    <option value="10">10점</option>
                </select>
            `;
            $('.change-select').html(changeSelectHtml);
        }
    }

    function addExample() {
        // alert('addExample');
        let inputHtml = `
            <div class="example-part m-b-10">
                <input type="text" class="input-500">
                <span class="time-icon fs-20 m-l-10 pointer" style="line-height: 32px;color:#888" onclick="deleteExample($(this).parent().index());"><i class="fas fa-times"></i></span>
            </div>
        `;
        $('.example-wrap').append(inputHtml);
    }

    function deleteExample(num) {
        // alert('deleteExample');
        // alert(num);
        $('.example-part').eq(num).detach();
    }

    function showExample() {
        alert('showExample');
        let inputHtml = `
            <tr>
                <td>보기</td>
                <td>
                    <div class="example-wrap">
                        <div class="example-part m-b-10">
                            <input type="text" class="input-500">
                        </div>
                    </div>
                    <div class="example-add pointer"
                        style="line-height: 32px;color:#888;display: inline-block;" onclick="addExample();">
                        <span class="fs-20"><i class="fas fa-plus"></i></span>
                        <span>보기 추가</span>
                    </div>
                </td>
            </tr>
        `;
        $('.if-select-choice').append(inputHtml);
    }

    function hideExample() {
        alert('hideExample');
        $('.if-select-choice').detach();
    }

    function showMaxNum(text) {
        // alert(text);
        if(text === 'many') {
            alert(text);
        }
    }
</script>

</html>