<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company_info</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/fixed_menu.css">

    <script src="https://kit.fontawesome.com/5ae11af4f3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
    main {
        width: calc(100% - 200px);
        min-height: calc(100vh - 65px);
        margin-top: 65px;
        margin-left: 200px;
        padding: 20px 30px;

        background-color: #eef0f8;
    }

    main section {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px 30px;
        margin-bottom: 40px;
    }

    .sort-btn:hover {
        font-weight: 700;
        color: black;
    }

    /* js event part */
    .sort-point {
        border-bottom: 2px solid black;
        font-weight: 700;
        color: black !important;
    }

    .sort-btn {
        margin-right: 10px;
        color: #999;
    }

    table tr:nth-child(2n-1) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(2n) {
        background-color: #fafafa;
    }

    table tr:first-child {
        background-color: #5f7faf;
    }

    tr {
        height: 50px;
    }

    /* table 선색 */
    td {
        border: 1px solid #e3e7ee;
        border-left: none;
        border-right: none;
    }

    table tr:last-child td {
        border-bottom: 2px solid #e3e7ee;
    }

    /* modal1 */
    .modal-wrap1 {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        z-index: 9999;
    }

    .modal-wrap1.open1 {
        visibility: visible;
        opacity: 1;
    }

    .modal1 {
        width: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 5px;
        padding: 20px 30px;

        box-shadow:
            -60px 0px 100px -90px #000,
            60px 0px 100px -90px #000;
    }

    .close-preview:hover {
        font-weight: 700;
    }

    /* modal1// */

    .disabled-active {
        color: #f00;
    }
</style>

<body class="noto">
    <!-- modal1 -->
    <div class="modal-wrap1">
        <div class="modal1" style="border: 1px solid #777;">
            <div class="addr noto fs-18 m-b-20"
                style="border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;">
                <div>
                    <span class="icon m-r-2" style="color: #3699ff"><i class="fas fa-asterisk"></i></span>
                    <span style="font-weight: 500;">미리보기</span>
                </div>
                <div class="close-preview popup1 pointer fs-22"
                    style="width:25px;height:25px;line-height: 20px;text-align: center;">x</div>
            </div>
            <div>
                <table>
                    <tr>
                        <td class="td-40 center bg-eee">
                            <span>부서명</span>
                        </td>
                        <td class="td-60 center bg-eee p-l-5 p-r-5">
                            <input type="text" class="input-100" placeholder="최대 10자까지 가능합니다." maxlength="10">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-40 center bg-eee">
                            <span>부서번호</span>
                        </td>
                        <td class="td-60 center bg-eee p-l-5 p-r-5">
                            <input type="text" class="input-100" placeholder="0 ~ 99의 숫자만 가능합니다." maxlength="10">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-40 center bg-eee">
                            <span>상태</span>
                        </td>
                        <td class="td-60 center bg-eee">
                            <label style="margin-right: 30px;">
                                <input type="radio" id="buseo-status" style="width:15px;height:15px;border:1px;vertical-align: -3px;" checked> 사용
                            </label>
                            <label>
                                <input type="radio" id="buseo-status" style="width:15px;height:15px;border:1px;vertical-align: -3px;"> 미사용
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- modal1// -->
    <div class="alert-box">
        <div class="alert-box-title">
            알림
        </div>
        <div class="alert-box-list">
            <div class="alert-box-section pointer">
                <div class="alert-box-icon">
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <div class="alert-box-contents">
                    <p>전자결재 서류입니다.</p>
                    <p>n시간 전 - 홍길동 사원</p>
                </div>
            </div>
            <div class="alert-box-section pointer">
                <div class="alert-box-icon">
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <div class="alert-box-contents">
                    <p>전자결재 서류입니다.</p>
                    <p>n시간 전 - 홍길동 사원</p>
                </div>
            </div>
            <div class="alert-box-section pointer">
                <div class="alert-box-icon">
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <div class="alert-box-contents">
                    <p>전자결재 서류입니다.</p>
                    <p>n시간 전 - 홍길동 사원</p>
                </div>
            </div>
        </div>
    </div>
    <div class="config-box">
        <div class="config-box-list">
            <ul>
                <li><a href="#">다크모드</a></li>
                <li><a href="#">알림설정</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="header-logo roboto">
            <span><a href="#">Portfolio</a></span>
        </div>
        <div class="header-bar">
            <div class="header-alert">
                <div class="header-alert-icon bell-gray">
                    <span class="bell-icon pointer"><i class="fas fa-bell"></i></span>
                </div>
                <div class="header-alert-badge pointer">
                    <span><b>6</b></span>
                </div>
                <div class="header-alert-text">
                    <!-- <span><b>아무개</b></span><span>님이 새로운 메세지를 보냈습니다.</span> -->
                    <!-- <button type="button" onclick="blinkBell();">test</button> -->
                </div>
            </div>
            <div class="header-menu" style="display: flex;justify-content: space-between;">
                <div class="header-part">
                    <span>홍길동</span>
                    <span>-</span>
                    <span>접속권한 </span>
                    <span>n등급</span>
                </div>
                <div class="header-division"></div>
                <div class="header-part-a" onclick="location.href = '#'">
                    내정보
                </div>
                <div class="header-part-a header-part-config" onclick="location.href = '#'">
                    환경설정
                </div>
                <!-- <div class="header-division"></div> -->
                <div class="header-part-a" onclick="location.href = '#'">
                    로그아웃
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="accordion" style="color:#999">
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-book"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>사내조직/연락처</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">사원 목록</a></li>
                        <li><a href="#">조직도</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-stamp"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>전자결재</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">전자결재홈</a></li>
                        <li><a href="#">새결재진행</a></li>
                        <li><a href="#">결재목록</a></li>
                        <li><a href="#">완료문서</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-envelope"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>메일</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">새메일작성</a></li>
                        <li><a href="#">받은메일함</a></li>
                        <li><a href="#">보낸메일함</a></li>
                        <li><a href="#">내게쓴메일함</a></li>
                        <li><a href="#">중요메일함</a></li>
                        <li><a href="#">예약메일함</a></li>
                        <li><a href="#">임시보관함</a></li>
                        <li><a href="#">삭제메일함</a></li>
                        <li><a href="#">차단메일함</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-table"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>게시판</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">공통</a></li>
                        <li><a href="#">개발</a></li>
                        <li><a href="#">인사</a></li>
                        <li><a href="#">회계</a></li>
                        <li><a href="#">영업</a></li>
                        <li><a href="#">자료실</a></li>
                        <li><a href="#">자유게시판</a></li>
                        <li><a href="#">익명게시판</a></li>
                        <li><a href="#">게시판관리</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-clock"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>예약</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">회의실예약</a></li>
                        <li><a href="#">차량예약</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-calendar-day"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>일정관리</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">일정목록</a></li>
                        <li><a href="#">일정추가</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-briefcase"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>근태관리</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">내 근태현황</a></li>
                        <li><a href="#">출퇴근현황</a></li>
                        <li><a href="#">내 인사정보</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-chart-pie"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>설문조사</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">진행중인 설문</a></li>
                        <li><a href="#">종료된 설문</a></li>
                        <li><a href="#">내가 만든 설문</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer" onclick="location.href='#'">
                    <div class="accordion-icon">
                        <span><i class="fas fa-check-square"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>ToDo+</span>
                    </div>
                </div>
            </div>
            <div class="accordion-box">
                <div class="accordion-menu pointer">
                    <div class="accordion-icon">
                        <span><i class="fas fa-asterisk"></i></span>
                    </div>
                    <div class="accordion-subject">
                        <span>회사정보</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">회사기본정보</a></li>
                        <li><a href="#">DB</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <style>
        .anchor-box {
            width: 10%;
            height: 50px;
            border: 1px solid #ccc;
        }

        .color-box {
            width: 10%;
            padding: 10px;
            text-align: center;
        }
    </style>
    <main>
        <section>
            <div class="addr noto fs-18 m-b-20 flex flex-justify"
                style="border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;">
                <div>
                    <span class="icon m-r-2" style="color: #3699ff"><i class="fas fa-asterisk"></i></span>
                    <span style="font-weight: 500;">회사정보</span><span> ⦁ 회사기본정보</span>
                </div>
            </div>
            <div class="func-grp1 m-b-18">
                <div style="display: flex;justify-content: space-between;">
                    <div class="anchor-box">부서</div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                    <div class="anchor-box"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="addr noto fs-18 m-b-20 flex flex-justify"
                style="border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;">
                <div>
                    <span class="icon m-r-2" style="color: #3699ff"><i class="fas fa-asterisk"></i></span>
                    <span style="font-weight: 500;">부서</span>
                </div>
                <div class="m-b-5">
                    <button type="button" class="btn-tomato popup1">추가</button>
                </div>
            </div>
            <div class="table-wrap">
                <table>
                    <tr class="center" style="color:#fff">
                        <td class="td-20">부서명</td>
                        <td class="td-20">부서번호</td>
                        <td class="td-20">사원수</td>
                        <td class="td-20">상태</td>
                        <td class="td-20">비고</td>
                    </tr>
                    <tr class="center">
                        <td class="td-20">미정</td>
                        <td class="td-20">0</td>
                        <td class="td-20">20</td>
                        <td class="td-20">사용</td>
                        <td class="td-20">
                            <button type="button" class="btn-on">수정</button>
                            <button type="button" class="btn-gray">삭제</button>
                        </td>
                    </tr>
                    <tr class="center">
                        <td class="td-20">개발</td>
                        <td class="td-20">1</td>
                        <td class="td-20">20</td>
                        <td class="td-20">사용</td>
                        <td class="td-20">
                            <button type="button" class="btn-on">수정</button>
                            <button type="button" class="btn-gray">삭제</button>
                        </td>
                    </tr>
                    <tr class="center">
                        <td class="td-20">인사</td>
                        <td class="td-20">2</td>
                        <td class="td-20">20</td>
                        <td class="td-20">사용</td>
                        <td class="td-20">
                            <button type="button" class="btn-on">수정</button>
                            <button type="button" class="btn-gray">삭제</button>
                        </td>
                    </tr>
                    <tr class="center">
                        <td class="td-20">회계</td>
                        <td class="td-20">3</td>
                        <td class="td-20">20</td>
                        <td class="td-20">사용</td>
                        <td class="td-20">
                            <button type="button" class="btn-on">수정</button>
                            <button type="button" class="btn-gray">삭제</button>
                        </td>
                    </tr>
                    <tr class="center">
                        <td class="td-20">영업</td>
                        <td class="td-20">4</td>
                        <td class="td-20">20</td>
                        <td class="td-20">사용</td>
                        <td class="td-20">
                            <button type="button" class="btn-on">수정</button>
                            <button type="button" class="btn-gray">삭제</button>
                        </td>
                    </tr>
                    <tr class="center">
                        <td class="td-20 disabled-active">임원</td>
                        <td class="td-20 disabled-active">4</td>
                        <td class="td-20 disabled-active">20</td>
                        <td class="td-20 disabled-active">미사용</td>
                        <td class="td-20 disabled-active">
                            <button type="button" class="btn-on">수정</button>
                            <button type="button" class="btn-gray">삭제</button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <div class="addr noto fs-18 m-b-20 flex flex-justify"
                style="border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;">
                <div>
                    <span class="icon m-r-2" style="color: #3699ff"><i class="fas fa-asterisk"></i></span>
                    <span style="font-weight: 500;">아이콘</span>
                </div>
            </div>
            <div class="">
                <div style="display: flex;justify-content: space-between;">
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                    <div class="color-box" style=""></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <span>&copy;Copyright 2022. All Rights Reserved.</span>
    </footer>
</body>
<script src="../../js/fixed_menu.js"></script>
<script src="../../js/chk-all.js"></script>
<script>
    $(function () {
        $(".popup1").click(function () {
            $(".modal-wrap1").toggleClass("open1");
        });
    })
</script>

</html>